body{
    background-color: hsl(46, 72%, 86%);
}

header{
    background-color: rgb(207, 253, 253);
}

footer{
    background-color: rgb(60, 58, 58);
    color: white;
    height: 70px;
    text-align: center;
}

.red{
    background-color: brown;
}

.column1{
    background-color: rgb(241, 170, 241);
}

.column2{
    background-color: rgb(191, 247, 228);
}

.column3{
    background-color: rgb(208, 133, 105);
}
