body{
background-color: #fff5ee;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:small;
color: #696969		;

}

h1{
color: #FF0000;   
font-size: 16px; 
border-bottom: 3px solid #FF0000;


}

h2{


}

p{


}

img{


}

ol{


}

ul{


}

